* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}


/* fallback */
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/IconsGF.woff2") format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.woff");
}

@font-face {
  font-family: Ultra;
  src: url("../assets/fonts/Ultra-Regular_1.woff");
}

body {
  background-color: #fac710;
  font-family: Roboto regular;
  font-size: 12px;
  overflow: hidden;
  transition: all 1s ease;
}

.header,
.content {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.header {display: flex;}

.content {
  display: flex;
  justify-content: center;
  position: relative;
  height: 90vh;
}

.logo-topo {
  margin-top: 20px;
  width: 130px;
}

.janelinha, .resposta {
  background-color: #fffee2;
  border: 2px #2a2929 solid;
  border-radius: 3px;
  margin: auto;
  position: absolute;
  top: 31vh;
  width: 280px;
  height: 25px;
  transition: all 3s ease;
  -webkit-box-shadow: -6px 6px 0px 0px #2a2929;
  box-shadow: -6px 6px 0px 0px #2a2929;
}

.janelinha-pgt, .resposta {
  position: unset;
  border-radius: 8px;
  height: auto;
  top: 210px;
}

.janelinha-pgt {
  margin-top: 50px;
  margin-bottom: 60px;
}

#janelinha {
  transform: scale(0.001);
}

#pergunta {
  padding: 24px 16px;
  color: #2A2929;
  font-family: Roboto;
  font-size: 14px;
  text-align: left;
}

.frase-efeito {
  font-family: Ultra;
  font-size: 60px;
  z-index: 10;
  color: #652cb3;
  text-shadow:
    -1px -1px 0px #2A2929,
    -1px 1px 0px #2A2929,
    1px -1px 0px #2A2929,
    1px 0px 0px #2A2929;
}

.frase-efeito .txt1 {
  letter-spacing: 10px;
  font-size: 40px;
  display: flex;
  align-content: flex-end;
  justify-content: center;
}

.frase-efeito .txt2 {
  font-size: 40px;
  letter-spacing: 6px;
}

.frase-efeito .txt3 {
  font-size: 40px;
  text-shadow: none;
}

.frase-efeito .txt4 {
  font-size: 26px;
  text-shadow: none;
}

#txt-intro {
  font-family: Roboto;
  font-size: 16px;
  padding: 20px 15px;
  color: #2A2929;
  text-shadow: none;
}

.antesdetudo {
  width: 310px;
  position: absolute;
  top: 10vh;
  text-align: left;
  margin-left: -200vw;
}

.perfeitonome {
  width: 310px;
  position: absolute;
  top: 10vh;
  text-align: left;
  margin-left: -200vw;
}

.seguircarreira {
  width: 310px;
  position: absolute;
  top: 10vh;
  text-align: left;
  margin-left: -200vw;
}

.agorashow {
  width: 310px;
  position: absolute;
  top: 10vh;
  text-align: left;
  margin-left: -200vw;
}

.listraazul {
  background-color: #16D1A7;
  width: 250px;
  margin-top: -14px;
  height: 21px;
  margin-left: -95px;
}

.janelinha-content {
  position: relative;
}

/* .janelinha-p {
  width: 70%;
} */

.janelinha-header {
  display: flex;
  justify-content: space-between;
  background-color: #652cb3;
  color: #fff;
  padding: 6px 6px;

}

.janelinha-pgt .janelinha-header{
  background-color: #FFF6D6;
  border-bottom: 2px #2a2929 solid;
  color: #2A2929;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#respostas{
  /* background-color: #ff4081; */
  height: 100%;
}

.resposta {
  /* text-align: left!important; */
  border-radius: 32px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 120px;
}

.letra-opt {
  width: 83px;
  text-align: center;
  margin: auto;
  font-size: 28px;
  font-family: Ultra;
  text-shadow: -1px -1px 0px #2a2929, -1px 1px 0px #2a2929, 1px -1px 0px #2a2929, 1px 0px 0px #2a2929;
  color: #FFFEE2;
  margin-top: -86px;
}
.left {
  height: 120px;
}
.grafic {
  flex: 80px;
  
  /* display: inline-block; */
}
.desc-resposta{
  flex: 1fr;
  padding: 26px 16px;
  color: #2A2929;
  font-family: Roboto;
  font-size: 14px;
  text-align: left;
  border-left: 2px solid #2A2929;
  min-height: 68px;
}
.grafic svg {
  z-index: 9;
  padding: 22px 0px 30px 0px;
}

#ola {
  opacity: 0;
  margin-top: 37px;
}

.backdoor {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -10;
  overflow: hidden;
}

#backdoor {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}

#overlay {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.btn {
  border: 2px #2a2929 solid;
  -webkit-box-shadow: -6px 6px 0px 0px #2a2929;
  box-shadow: -6px 6px 0px 0px #2a2929;
  width: 315px;
  text-align: center;
  border-radius: 50px;
  font-size: 26px;
  font-family: Ultra;
  color: #2A2929;
  padding: 20px 0;
  display: flex;
  align-content: flex-end;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
}

.btn-bottom {
  position: absolute;
  margin: auto;
  bottom: 20px;
}

.btn-yellow {
  background-color: #FAC710;
}

.btn-cian {
  background-color: #16D1A7;
}

.btn-red {
  background-color: #ff4081;
}

.btn-purple {
  background-color: #B078FE;
}

.btn-carreira {

  border: 2px #2a2929 solid;
  -webkit-box-shadow: -6px 6px 0px 0px #2a2929;
  box-shadow: -6px 6px 0px 0px #2a2929;
  /* width: 315px; */
  text-align: center;
  border-radius: 24px;
  font-size: 16px;
  font-family: Roboto;
  color: #2A2929;
  padding: 16px;
  display: inline-block;
  cursor: pointer;
}


.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #000000;
  padding-bottom: 13px;
  margin-bottom: 27px;
}

.validate-input {
  position: relative;
}

.label-input100 {
  font-family: Roboto;
  font-size: 13px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  padding-left: 5px;
}

input.input100 {
  height: 40px;
}

.input100 {
  display: block;
  width: 100%;
  background: 0 0;
  font-family: Roboto;
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  padding: 0 5px;
}

input {
  outline: none;
  border: none;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.arrow-input {
  margin-top: 5px;
  position: absolute;
  top: -5px;
  right: -6px;
  font-size: 32px;
  font-weight: 800;
}

.clickable {
  cursor: pointer;
  z-index: 10;
}